h2.highlighted
   | Experience
br
h3
   | Cofounder @ skqrl.com
| Description
br
h3
   | Web Developer @ The Comeback Community
| Description
br
h3
   | Web Developer @ brainfoodproject.org
| Description
br
h3
   | iOS Intern @ Modspot
| Description
br
h3
   | CS/Math Tutor @ FCC Tutorial Center
| Description
br
h3
   | Student Aide @ FCC CIT 65, Android App Development
| Description
br
h3
   | IT Intern @ Fresno County Sheriff's Department
| Description
br
br

h2.highlighted
   | Education
br
h3
   | UC San Diego (3.88)
| Courses
br
h3
   | Fresno City College (3.85)
| Courses
br
br

h2.highlighted
   | Projects
br
h3
   | Uncertaintyscript
| Quantum gate scripting language written in Scala
br
h3
   | nlp-api.org
| Microservice for sentiment analysis written in Python
br
h3
   | Llama Button
| Android app that displays llamas at quantum random coordinates from the ANU Quantum Optics Lab in Canberra, AU
br
h3
   | NoteSRS
| Android app parody of autocorrect that crowdsources autocorrections
br
h3
   | Jordan Bot
| A chat bot that quickly learns your language and sentence structure through conversation written in Java on Google App Engine
br
br

h2.highlighted
   u
      | Organizations
br
h3
   | Founder @ Google Developer Group FCC
| Blah
br
h3
   | Treasurer @ FCC Science and Engineering Club
| Blah
br
br
