aside.left-sidebar
   .sidebar-content
      h1.nametitle
         | Nicholas Roberts

      br
      | n3robert@ucsd.edu
      br
      | www.nick11roberts.me
      br
      | www.github.com/nick11roberts
      br
      | www.linkedin.com/in/nick11roberts
      br
      br
      
      h2
         u
            | Skills
      br
      h3
         | Languages (experienced)
      | Python, Java, C, C++, Go, Matlab, MySQL, JavaScript, Pug (Jade), Sass, HTML5, CSS3, Node.js
      br
      h3
         | Languages (competent)
      | Scala, Bash, Groovy, SPARC assembly, Objective-C
      br
      h3
         | Frameworks + Libraries
      | Android, Django, Keras, Tensorflow, Theano, Harp, Google App Engine, Amazon AWS EC2, Flask, NLTK, Bootstrap, iOS, Paper.js
      br
      h3
         | Other knowledge
      | Deep learning, neural networks, computer vision, unsupervised machine learning, Linux, MacOS, object oriented design, agile software development, quantum information theory, quantum computing
      br
      br
      
      h2
         u
            | Speaking Events
      br
      h3
         | GDG Devfest
      | Presented two lectures on Android development at Google Developer Group Devfest
      br
      h3
         | GDG Fresno
      | Presented Llama Button Android app at Google Developer Group Fresno meeting
      br
      h3
         | GDG FCC
      | Presented an intro to quantum computing at Google Developer Group Fresno City College meeting
      br
      br
      
      h2
         u
            | Hackathons
      br
      h3
         | 2014
      | Cal Hacks (UC Berkeley), HackCC (Santa Monica College)
      br
      h3
         | 2015
      | SD Hacks (UC San Diego), Citrus Hack (UC Riverside), Cal Hacks (UC Berkeley)
      br
      h3
         | 2016
      | HackTech (Caltech), SB Hacks (UC Santa Barbara), SD Hacks (UC San Diego)
      br
      br
