h2.highlighted
   | Education
br
h3
   | UC San Diego 2018 (3.9 GPA) -- B.S. Computer Science, Mathematics Minor
| Software Engineering (CSE 110), Advanced Data Structures (CSE 100), Neural Networks (CSE 190), Unsupervised Machine Learning (COGS 118B), Interaction Design (CSE 170, WIP) Mathematical Reasoning (MATH 109), Quantum Information Theory (MATH 217)
br
br

h2.highlighted
   | Experience
br
h3
   | Cofounder @ skqrl.com (Summer 2016 - )
i.fa.fa-bolt(aria-hidden="true")
|  Went beta after writing image upload, search, edit experience, 
| edit profile, posting, notifications, invite code system, 
| web crawler, and autocomplete in Django
br
i.fa.fa-bolt(aria-hidden="true")
|  Brought hundreds of new users to the invite only beta program
br
h3
   | Full Stack Developer @ brainfoodproject.org (Summer 2016 - )
i.fa.fa-bolt(aria-hidden="true")
|  Launched site after writing full site stack in Go, gohtml, 
| and CSS on Google App Engine
br
i.fa.fa-bolt(aria-hidden="true")
|  Taught other developers how to use Google App Engine and Google Domains
br
h3
   | Full Stack Developer @ The Comeback Community (Summer 2016 - )
i.fa.fa-bolt(aria-hidden="true")
|  Developed site in Go, gohtml, and CSS on Google App Engine
br
i.fa.fa-bolt(aria-hidden="true")
|  Helped new developers on the team learn to write a website
br
h3
   | Software Engineering Intern (iOS) @ Modspot (Spring 2016)
i.fa.fa-bolt(aria-hidden="true")
|  Implemented new user account, edit profile, and login designs in Objective-C
br
h3
   | Tutor @ FCC Tutorial Center (Spring 2014)
i.fa.fa-bolt(aria-hidden="true")
|  Helped students understand computer science and math concepts
br
i.fa.fa-bolt(aria-hidden="true")
|  Tutored everything from elementary algebra to calculus
br
h3
   | Student Aide @ FCC CIT 65, Android App Development (Spring 2014)
i.fa.fa-bolt(aria-hidden="true")
|  Helped students debug Android assignments and helped to reinforce Java concepts
br
i.fa.fa-bolt(aria-hidden="true")
|  Helped instructor get reliable feedback from students regarding course 
| logistics
br
br

h2.highlighted
   | Projects
br
h3
   | Uncertaintyscript
i.fa.fa-info(aria-hidden="true")
|  Quantum gate scripting language created at HackTech
br
i.fa.fa-bolt(aria-hidden="true")
|  Written in Scala using ScalaNLP Breeze and follows the interpreter design pattern
br
h3
   | nlp-api.org
i.fa.fa-info(aria-hidden="true")
|  Dockerized web API for sentiment analysis on JSON formatted data
br 
i.fa.fa-bolt(aria-hidden="true")
|  Written in Python using NLTK, Flask (API), Redis, and Docker using docker-compose
br
h3
   | Llama Button
i.fa.fa-info(aria-hidden="true")
|  Android app that displays llamas at quantum random coordinates from the ANU Quantum Optics Lab in Canberra, AU
br
i.fa.fa-bolt(aria-hidden="true")
|  Written in Java on Android using JSON data from ANU Quantum Random Numbers Server
br
h3
   | NoteSRS
i.fa.fa-info(aria-hidden="true")
|  Android app parody of autocorrect that crowdsources autocorrections
br
i.fa.fa-bolt(aria-hidden="true")
|  Written in Java on Android, Google App Engine, Google Cloud Endpoints, and Datastore
br
h3
   | Jordan Bot
i.fa.fa-info(aria-hidden="true")
|  A chat bot that quickly learns your language and sentence structure through conversation
br
i.fa.fa-bolt(aria-hidden="true")
|  Written in Java on Google App Engine using JGraphT, Objectify, and Google Cloud Datastore
br
br

h2.highlighted
   | Organizations
br
h3
   | Initiate @ Tau Beta Pi, California Psi
i.fa.fa-bolt(aria-hidden="true")
|  Attended various professional and social events
br
h3
   | Founder @ Google Developer Group FCC
i.fa.fa-bolt(aria-hidden="true")
|  Advocated Fresno's growing tech scene and developed code labs for club members
br
h3
   | Treasurer @ FCC Science and Engineering Club
i.fa.fa-bolt(aria-hidden="true")
|  Invited guest lecturers, managed club finances, and helped organize events
br
