aside.left-sidebar
   .sidebar-content
      h1
         | Nicholas Roberts
         
      br
      | UC San Diego 2018
      br
      | B.S. Computer Science, 
      br
      | Mathematics Minor
      br
      br
      
      | n3robert@ucsd.edu
      br
      | http://nick11roberts.me
      br
      | linkedin: nick11roberts
      br
      | github: nick11roberts
      br
      br
      
      h2
         u
            | Skills
      br
      h3
         | Languages (experienced)
      | Python, Java, C, C++, Go, HTML, Javascript, Sass, CSS, NodeJS, JQuery
      br
      h3
         | Languages (competent)
      | Scala, SPARC assembly, Matlab, Bash
      br
      h3
         | Frameworks + Libraries
      | Android, Django, Harp, Google App Engine, Amazon AWS, Flask, NLTK, Bootstrap, iOS
      br
      h3
         | Other knowledge
      | Linux, quantum information theory, quantum computing, neural networks, machine learning
      br
      br
      
      h2
         u
            | Speaking Events
      br
      h3
         | GDG Devfest
      | Presented two lectures on Android development at Google Developer Group Devfest
      br
      h3
         | GDG Fresno
      | Presented Llama Button Android app at Google Developer Group Fresno meeting
      br
      h3
         | GDG FCC
      | Presented an intro to quantum computing at Google Developer Group Fresno City College meeting
      br
      br
