h2.highlighted
   | Experience
br
h3
   | Cofounder @ skqrl.com
| Description
br
h3
   | iOS Intern @ Modspot
| Description
br
h3
   | CS/Math Tutor @ FCC Tutorial Center
| Description
br
h3
   | Student Aide @ FCC CIT 65, Android App Development
| Description
br
h3
   | IT Intern @ Fresno County Sheriff's Department
| Description
br
br

h2.highlighted
   | Education
br
h3
   | UC San Diego (3.88)
| Description
br
h3
   | Fresno City College (3.85)
| Description
br
br

h2.highlighted
   | Projects
br
