h2.highlighted
   | Experience
br
h3
   | Cofounder @ skqrl.com (Summer 2016 - )
i.fa.fa-bolt(aria-hidden="true")
|  Wrote image upload, search, edit experience, edit profile, posting, notifications, invite code system, web crawler, and autocomplete
br
h3
   | Web Developer @ brainfoodproject.org (Summer 2016 - )
i.fa.fa-bolt(aria-hidden="true")
|  Wrote full site stack in Go, gohtml, and CSS on Google App Engine
br
h3
   | Web Developer @ The Comeback Community (Summer 2016 - )
i.fa.fa-bolt(aria-hidden="true")
|  Wrote full site stack in Go, gohtml, and CSS on Google App Engine
br
h3
   | iOS Intern @ Modspot (Spring 2016)
i.fa.fa-bolt(aria-hidden="true")
|  Implemented new user account, edit profile, and login designs
br
h3
   | Tutor @ FCC Tutorial Center (Spring 2014)
i.fa.fa-bolt(aria-hidden="true")
|  Helped students understand computer science and math concepts
br
h3
   | Student Aide @ FCC CIT 65, Android App Development (Spring 2014)
i.fa.fa-bolt(aria-hidden="true")
|  Helped students debug Android assignments and helped to reinforce concepts
br
br

h2.highlighted
   | Education
br
h3
   | UC San Diego 2018 (3.88)
| Software Engineering (CSE 110), Neural Networks (CSE 190, ip), Advanced Data Structures (CSE 100, ip), Mathematical Reasoning (MATH 109), Quantum Information Theory (MATH 217), Unsupervised Machine Learning (COGS 118B, ip)
br
br

h2.highlighted
   | Projects
br
h3
   | Uncertaintyscript
i.fa.fa-info(aria-hidden="true")
|  Quantum gate scripting language created at HackTech
br
i.fa.fa-bolt(aria-hidden="true")
|  Written in Scala
br
h3
   | nlp-api.org
i.fa.fa-info(aria-hidden="true")
|  Dockerized web API for sentiment analysis 
br 
i.fa.fa-bolt(aria-hidden="true")
|  Written in Python and Docker
br
h3
   | Llama Button
i.fa.fa-info(aria-hidden="true")
|  Android app that displays llamas at quantum random coordinates from the ANU Quantum Optics Lab in Canberra, AU
br
i.fa.fa-bolt(aria-hidden="true")
|  Written in Java on Android
br
h3
   | NoteSRS
i.fa.fa-info(aria-hidden="true")
|  Android app parody of autocorrect that crowdsources autocorrections
br
i.fa.fa-bolt(aria-hidden="true")
|  Written in Java on Android
br
h3
   | Jordan Bot
i.fa.fa-info(aria-hidden="true")
|  A chat bot that quickly learns your language and sentence structure through conversation
br
i.fa.fa-bolt(aria-hidden="true")
|  Written in Java on Google App Engine
br
br

h2.highlighted
   u
      | Organizations
br
h3
   | Founder @ Google Developer Group FCC
i.fa.fa-bolt(aria-hidden="true")
|  Invited guest lecturers
br
i.fa.fa-bolt(aria-hidden="true")
|  Developed and presented code labs for club members
br
h3
   | Treasurer @ FCC Science and Engineering Club
i.fa.fa-bolt(aria-hidden="true")
|  Invited guest lecturers
br
i.fa.fa-bolt(aria-hidden="true")
|  Helped organize fundraisers and events
