@import url(https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css)

$font-stack: 'Josefin Slab', serif, Helvetica, sans-serif, 'Pacifico', cursive
$h1font: 'Pacifico', cursive
$h2font: 'Pacifico', cursive
$h3font: 'Pacifico', cursive
$pfont: 'Josefin Slab', serif

$color-primary-0: #B49E9E
$color-primary-1: #393939
$color-primary-2: #393939
$color-primary-3: #AD2D2D
$color-primary-4: #FFA7A7

body
   font: 100% $font-stack
   color: $color-primary-2
   background-color: $color-primary-0

canvas
   position: fixed
   top: 0
   left: 0
   width: 100%
   height: 100%
   z-index: -1

p
   font-family: $pfont
   color: $color-primary-2

h1
   font-size: 200%
   font-family: $h1font
   color: $color-primary-1

h2
   font-size: 130%
   font-family: $h2font
   color: $color-primary-3

h3
   font-size: 100%
   font-family: $h3font
   color: $color-primary-3
