footer.footer
   .footer-content
      p
         br
         | 
         i.fa.fa-code(aria-hidden='true')
         |  with
         | 
         i.fa.fa-heart-o(aria-hidden='true')
         |  using Docker, npm, Sass, Jade, and Harp.js,
         |  
         //a(href='http://nick11roberts.github.io/')
            //| but also check out my legacy site
         br
