doctype html
html
   head
      script(src="https://code.jquery.com/jquery-3.1.0.min.js",
      integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s=",
      crossorigin="anonymous")
      script(src='https://use.fontawesome.com/9fb8fdf036.js')
      // Load the Paper.js library
      script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/paper.js/0.10.2/paper-full.min.js')
      script(type='text/javascript', src='/node_modules/rpolygon/rpolygon.js')
      script(type='text/javascript', src='/node_modules/realistic-typewriter.js/build/typewriter-bundle.js')
      script(type='text/javascript', src='/javascript/index.js')
      
      link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css')
      link(href='https://fonts.googleapis.com/css?family=Kameron|Sansita+One', rel='stylesheet')
      link(rel='stylesheet', href='/stylesheets/Skeleton-2.0.4/css/skeleton.css')
      link(type='text/css', rel='stylesheet', href='/stylesheets/index.css')

      title
         | Nicholas Roberts

   body
      canvas#background
         | Your browser does not support the canvas element. 
      != yield
