div.full-height#home
   p
      span#typewriter.typewriter
      span.caret &nbsp;&nbsp;
      
div.full-height#skills
   h1
      | Skills
   div.container
      div.row
         div.one-half.column
            h2
               | Programming Languages
            | Java
            br 
            | C
            br
            | C++
            br
            | Python
         div.one-half.column
            h2
               | Frameworks
            | Android
            br
            | Django
            br
            | Scrapy
      div.row
         div.one-half.column
            h2
               | Other Technologies
            | Docker
            br
            | Linux
            br
            | Git
            br
            | Google App Engine
         div.one-half.column
            h2
               | Useful Knowledge
            | Machine Learning
            br
            | Artificial Neural Networks
            br
            | Natural Language Processing
            br
            | Quantum Computing
      
div.full-height#projects
   p
      h1
         | Projects

div.full-height#resume
   p
      h1
         | Resume
