div.full-height#resume
   h1
      | Resume
   div.light-bg-box
      h2.centered.dark
        a(href='/resume')
           | Click here to check out my resume
           
      p.dark
        | Written in jade, Sass, and JavaScript
        br
        br
        | Uses a randomly generated background using an 
        a(href='https://www.npmjs.com/package/rpolygon')
           | npm package I wrote
        | , thus each copy of this resume is unique.
