aside.left-sidebar
   .sidebar-content
      a(href='/')
         img#logo(src='images/logo.svg', alt='Nicholas Roberts')
      p
         h3
            br
            a(href='/#home')
               | Home
            br
            a(href='/#projects')
               | Projects
            br
            a(href='/#skills')
               | Skills
            br
            a(href='/#resume')
               | Resume
         br
         a(href='https://github.com/nick11roberts')
            i.fa.fa-github(aria-hidden='true')
         | 
         a(href='https://www.linkedin.com/in/nick11roberts')
            i.fa.fa-linkedin(aria-hidden='true')
         | 
         a(href='https://www.instagram.com/n1cn11c/')
            i.fa.fa-instagram(aria-hidden='true')
         | 
         a(href='https://twitter.com/NikolaiRoberts')
            i.fa.fa-twitter(aria-hidden='true')
         | 
         br
