aside.left-sidebar
   .sidebar-content
      a(href='/')
         img#logo(src='images/logo.svg', alt='Nicholas Roberts')
      p
         h3
            a(href='/#home')
               | Home
            br
            a(href='/#projects')
               | Projects
            br
            a(href='/#skills')
               | Skills
            br
            a(href='/#resume')
               | Resume
         a.social(href='https://github.com/nick11roberts' onclick="trackOutboundLink('https://github.com/nick11roberts'); return false;")
            i.fa.fa-github(aria-hidden='true')
         | 
         a.social(href='https://www.linkedin.com/in/nick11roberts' onclick="trackOutboundLink('https://www.linkedin.com/in/nick11roberts'); return false;")
            i.fa.fa-linkedin(aria-hidden='true')
         | 
         br
         a.social(href='https://www.instagram.com/n1cn11c/' onclick="trackOutboundLink('https://www.instagram.com/n1cn11c/'); return false;")
            i.fa.fa-instagram(aria-hidden='true')
         | 
         a.social(href='https://twitter.com/NikolaiRoberts' onclick="trackOutboundLink('https://twitter.com/NikolaiRoberts'); return false;")
            i.fa.fa-twitter(aria-hidden='true')
         br
         a(href='#')
            | n3robert (at) uscd (dot) edu
         br
         div.parallax-window(data-parallax='scroll', data-image-src='/images/profile.jpg')
         div.parallax-window(data-parallax='scroll', data-image-src='/images/profile.jpg')
         div.parallax-window(data-parallax='scroll', data-image-src='/images/profile.jpg')
         div.parallax-window(data-parallax='scroll', data-image-src='/images/profile.jpg')
         div.parallax-window(data-parallax='scroll', data-image-src='/images/profile.jpg')
         div.parallax-window(data-parallax='scroll', data-image-src='/images/profile.jpg')
         div.parallax-window(data-parallax='scroll', data-image-src='/images/profile.jpg')
         div.parallax-window(data-parallax='scroll', data-image-src='/images/profile.jpg')
         div.parallax-window(data-parallax='scroll', data-image-src='/images/profile.jpg')
         div.parallax-window(data-parallax='scroll', data-image-src='/images/profile.jpg')
         div.parallax-window(data-parallax='scroll', data-image-src='/images/profile.jpg')
         div.parallax-window(data-parallax='scroll', data-image-src='/images/profile.jpg')
         div.parallax-window(data-parallax='scroll', data-image-src='/images/profile.jpg')
         div.parallax-window(data-parallax='scroll', data-image-src='/images/profile.jpg')
         div.parallax-window(data-parallax='scroll', data-image-src='/images/profile.jpg')
         div.parallax-window(data-parallax='scroll', data-image-src='/images/profile.jpg')
         div.parallax-window(data-parallax='scroll', data-image-src='/images/profile.jpg')
         div.parallax-window(data-parallax='scroll', data-image-src='/images/profile.jpg')
         div.parallax-window(data-parallax='scroll', data-image-src='/images/profile.jpg')
         div.parallax-window(data-parallax='scroll', data-image-src='/images/profile.jpg')
         div.parallax-window(data-parallax='scroll', data-image-src='/images/profile.jpg')
         div.parallax-window(data-parallax='scroll', data-image-src='/images/profile.jpg')
         div.parallax-window(data-parallax='scroll', data-image-src='/images/profile.jpg')
         div.parallax-window(data-parallax='scroll', data-image-src='/images/profile.jpg')
         div.parallax-window(data-parallax='scroll', data-image-src='/images/profile.jpg')
         div.parallax-window(data-parallax='scroll', data-image-src='/images/profile.jpg')
         div.parallax-window(data-parallax='scroll', data-image-src='/images/profile.jpg')
         div.parallax-window(data-parallax='scroll', data-image-src='/images/profile.jpg')
         div.parallax-window(data-parallax='scroll', data-image-src='/images/profile.jpg')
         div.parallax-window(data-parallax='scroll', data-image-src='/images/profile.jpg')
         div.parallax-window(data-parallax='scroll', data-image-src='/images/profile.jpg')
         div.parallax-window(data-parallax='scroll', data-image-src='/images/profile.jpg')
         div.parallax-window(data-parallax='scroll', data-image-src='/images/profile.jpg')
         div.parallax-window(data-parallax='scroll', data-image-src='/images/profile.jpg')
         div.parallax-window(data-parallax='scroll', data-image-src='/images/profile.jpg')
