aside.left-sidebar
   .sidebar-content
      a(href='/')
         img#logo(src='images/logo.svg', alt='Nicholas Roberts')
      p
         h3
            br
            a(href='/#')
               | Home
            br
            a(href='/#about')
               | About
            br
            a(href='/#projects')
               | Projects
            br
            a(href='/#resume')
               | Resume
         br
         a(href='/#')
            i.fa.fa-github(aria-hidden='true')
         | 
         a(href='/#')
            i.fa.fa-linkedin(aria-hidden='true')
         | 
         a(href='/#')
            i.fa.fa-instagram(aria-hidden='true')
         | 
         a(href='/#')
            i.fa.fa-twitter(aria-hidden='true')
         | 
         br
