div.full-height#skills
   h1
      | Skills
   div.container
      div.row
         div.one-half.column
            h2
               | Programming Languages
            div.skill-bar
               | Java (90%)
               hr.skill-bar-percent#skill-java
            div.skill-bar
               | Python (90%)
               hr.skill-bar-percent#skill-python
            div.skill-bar
               | Go (80%)
               hr.skill-bar-percent#skill-go
            div.skill-bar
               | C++ (80%)
               hr.skill-bar-percent#skill-cpp
         div.one-half.column
            h2
               | Frameworks
            div.skill-bar
               | Android (95%)
               hr.skill-bar-percent#skill-android
            div.skill-bar
               | Django (90%)
               hr.skill-bar-percent#skill-django
            div.skill-bar
               | Scrapy (80%)
               hr.skill-bar-percent#skill-scrapy
      div.row
         div.one-half.column
            h2
               | Other Technologies
            div.skill-bar
               | Git (90%)
               hr.skill-bar-percent#skill-git
            div.skill-bar
               | Linux (70%)
               hr.skill-bar-percent#skill-linux
            div.skill-bar
               | Docker (60%)
               hr.skill-bar-percent#skill-docker
            div.skill-bar
               | Google App Engine (60%)
               hr.skill-bar-percent#skill-gae
         div.one-half.column
            h2
               | Other Knowledge
            div.skill-bar
               | Artificial Neural Networks (80%)
               hr.skill-bar-percent#skill-ann
            div.skill-bar
               | Machine Learning (80%)
               hr.skill-bar-percent#skill-ml
            div.skill-bar
               | Natural Language Processing (50%)
               hr.skill-bar-percent#skill-nlp
            div.skill-bar
               | Quantum Computing (50%)
               hr.skill-bar-percent#skill-quantum
