div.full-height#skills
   h1
      | Skills
   div.container
      div.row
         div.one-half.column
            h2
               | Programming Languages
            div.skill-bar
               | Java (85%)
               hr.skill-bar-percent#skill-java
            div.skill-bar
               | Python (80%)
               hr.skill-bar-percent#skill-python
            div.skill-bar
               | Go (75%)
               hr.skill-bar-percent#skill-go
            div.skill-bar
               | C++ (60%)
               hr.skill-bar-percent#skill-cpp
         div.one-half.column
            h2
               | Frameworks
            div.skill-bar
               | Android (95%)
               hr.skill-bar-percent#skill-android
            div.skill-bar
               | Django (90%)
               hr.skill-bar-percent#skill-django
            div.skill-bar
               | Scrapy (60%)
               hr.skill-bar-percent#skill-scrapy
      div.row
         div.one-half.column
            h2
               | Other Technologies
            div.skill-bar
               | Git (80%)
               hr.skill-bar-percent#skill-git
            div.skill-bar
               | Linux (70%)
               hr.skill-bar-percent#skill-linux
            div.skill-bar
               | Google App Engine (50%)
               hr.skill-bar-percent#skill-gae
            div.skill-bar
               | Docker (40%)
               hr.skill-bar-percent#skill-docker
         div.one-half.column
            h2
               | Other Knowledge
            div.skill-bar
               | Artificial Neural Networks (60%)
               hr.skill-bar-percent#skill-ann
            div.skill-bar
               | Machine Learning (50%)
               hr.skill-bar-percent#skill-ml
            div.skill-bar
               | Quantum Computing (30%)
               hr.skill-bar-percent#skill-quantum
            div.skill-bar
               | Natural Language Processing (30%)
               hr.skill-bar-percent#skill-nlp
